@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* FONTS */
@font-face {
  font-family: macondo;
  src: url(../fonts/MacondoSwashCaps-Regular.ttf);
}
@font-face {
  font-family: pomp;
  src: url(../fonts/Pompiere-Regular.ttf);
}
/* END OF FONTS */
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cacaaa;
  padding: 50px 30px;
  font-family: macondo;
}

.title {
  margin-right: auto;
  color: #596157;
  font-size: 3rem;
  text-shadow: #596157 3px 2px 6px;
}

/* END OF HEADER */
/* SITE NAV */
.sitenav li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

.sitenav a {
  text-decoration: none;
  color: #596157;
  transition: all 0.3s ease 0s;
  font-family: pomp;
  font-size: 200%;
}

.sitenav a:hover {
  color: #BA5624;
}

/* END OF SITE NAV */
/* WRAPPER GRID */
.wrapper {
  margin-top: 2rem;
  padding: 20px;
  margin-left: 5rem;
  margin-right: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.one {
  grid-column: 1/2;
  grid-row: 1;
  transition: all 0.5s;
}

.one:hover {
  transform: scale(1.1, 1.1);
}

.two {
  grid-column: 2/3;
  grid-row: 1;
  transition: all 0.5s;
}

.two:hover {
  transform: scale(1.1, 1.1);
}

.three {
  grid-column: 1/2;
  grid-row: 2;
  transition: all 0.5s;
}

.three:hover {
  transform: scale(1.1, 1.1);
}

.four {
  grid-column: 2/3;
  grid-row: 2;
  transition: all 0.5s;
}

.four:hover {
  transform: scale(1.1, 1.1);
}

.five {
  grid-column: 3/5;
  grid-row: span 2;
  padding: 2rem;
  font-family: pomp;
  text-align: center;
}
.five ul {
  margin-top: 10px;
  text-decoration: none;
  list-style: none;
  font-size: 50px;
}
.five p {
  padding: 5rem;
  font-size: 30px;
}

.favspot {
  font-size: 75px;
}

/* END WRAPPER GRID */
/* MENU CHECK TEXT */
.menucheck-text {
  display: block;
  text-align: center;
  padding: 3rem;
  padding-top: 4rem;
  font-family: pomp;
  font-size: 35px;
}

/* END MENU CHECK TEXT */
/* LEARN MORE BUTTON */
.button {
  background-color: #BA5624;
  color: white;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 12px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* END LEARN MORE BUTTON */
/* RESERVATION */
.reservation {
  text-align: center;
  font-family: pomp;
  padding: 2rem;
  font-size: 45px;
}

.reservation h2 {
  text-decoration: underline;
  text-decoration-color: #BA5624;
}

.res2 {
  padding: 2rem;
  font-size: 30px;
}

/* END RESERVATION */
/* FOOTER */
footer {
  font-family: pomp;
  text-align: center;
  background-color: #cacaaa;
  padding: 1rem;
  color: #596157;
}

/* END FOOTER */

/*# sourceMappingURL=styles.css.map */
