$sage: #cacaaa;
$sageop: rgba(202, 202, 170, .9);
$sageop2: rgba(202, 202, 170, .3);
$sageop3: rgba(202, 202, 170, .7);
$ebony: #596157;
$ebonyop: rgb(89, 97, 87, .3);
$orange: #BA5624;
$plum: #8D3B72;
$eminence: #542E71;

* {
    margin: 0;
    padding: 0;
}

/* FONTS */
@font-face {
    font-family: macondo;
    src: url(../fonts/MacondoSwashCaps-Regular.ttf);
}

@font-face {
    font-family: pomp;
    src: url(../fonts/Pompiere-Regular.ttf);
}
/* END OF FONTS */

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $sage;
    padding: 50px 30px;
    font-family: macondo;
}

.title {
    margin-right: auto;
    color: $ebony;
    font-size: 3rem;
    text-shadow: $ebony 3px 2px 6px;

    /* medium */
    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
}
/* END OF HEADER */

/* SITE NAV */
.sitenav li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;

    /* mobile */
    @media screen and (max-width: 600px) {
        padding: 5px 5px;
    }
    /* small */
    @media screen and (min-width: 600px) {
        padding: 5px 5px;
    }
}

.sitenav a {
    text-decoration: none;
    color: $ebony;
    transition: all 0.3s ease 0s;
    font-family: pomp;
    font-size: 200%;

    /* medium */
    @media screen and (max-width: 768px) {
        font-size: 150%;
    }

}

.sitenav a:hover {
    color: $orange;
}
/* END OF SITE NAV */

        /* HOME PAGE */

/* WRAPPER GRID */
.wrapper {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: grid;
    grid-template-columns: 20% 20% 1fr;
    grid-template-rows: 45% 45%;
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
}

/* mobile */
@media screen and (max-width: 600px) {
    .wrapper {
        margin-top: 0;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
/* small to medium */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .wrapper {
        margin-top: 0;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
    }
}

.wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.one {
    grid-column: 1;
    grid-row: 1;
    transition: all 0.5s;

    /* mobile */
    @media screen and (max-width: 600px) {
        grid-column: 1;
        grid-row: 1;
    }
    /* small to medium */
    @media screen and (min-width: 600px) and (max-width: 992px) {
        grid-column: 1;
        grid-row: 1;
    }
}

.one:hover {
    transform: scale(1.1, 1.1);
}

.two {
    grid-column: 2;
    grid-row: 1;
    transition: all 0.5s;

    /* mobile */
    @media screen and (max-width: 600px) {
        grid-column: 1;
        grid-row: 2;
    }
    /* small to medium */
    @media screen and (min-width: 600px) and (max-width: 992px) {
        grid-column: 1;
        grid-row: 2;
    }
}

.two:hover {
    transform: scale(1.1, 1.1);
}

.three {
    grid-column: 1;
    grid-row: 2;
    transition: all 0.5s;

    /* mobile */
    @media screen and (max-width: 600px) {
        grid-column: 2;
        grid-row: 2;
    }
    /* small to medium */
    @media screen and (min-width: 600px) and (max-width: 992px) {
        grid-column: 2;
        grid-row: 2;
    }
}

.three:hover {
    transform: scale(1.1, 1.1);
}

.four {
    grid-column: 2;
    grid-row: 2;
    transition: all 0.5s;

    /* mobile */
    @media screen and (max-width: 600px) {
        display: none;   
    }
    /* small to medium */
    @media screen and (min-width: 600px) and (max-width: 992px) {
        display: none;   
    }
}

.four:hover {
    transform: scale(1.1, 1.1);
}

.five {
    grid-column: 3;
    grid-row: span 2;
    padding: 2rem;
    font-family: pomp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* mobile */
    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: 1;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    /* small to medium */
    @media screen and (min-width: 600px) and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: 1;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
}

.threepoints {
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 4vw;
}

.five-sm {
    margin-top: 1rem;
    font-size: 3vw;

    /* mobile */
    @media screen and (max-width: 600px) {
        display: none;
    }
    /* small to medium */
    @media screen and (min-width: 600px) and (max-width: 992px) {
        display: none;
    }
}

.favspot {
    font-size: 6vw;
}

/* END WRAPPER GRID */

/* MENU CHECK TEXT */
.menucheck-text {
    display: block;
    text-align: center;
    padding: 3rem;
    font-family: pomp;
    font-size: 35px;
}
/* END MENU CHECK TEXT */

/* LEARN MORE BUTTON */
.button {
    background-color: $orange;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 12px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
/* END LEARN MORE BUTTON */

/* RESERVATION */
.reservation {
    text-align: center;
    font-family: pomp;
    padding: 1rem;
    font-size: 45px;
}

.reservation h2 {
    text-decoration: underline;
    text-decoration-color: $orange;
}

.res2 {
    padding: 1.5rem;
    font-size: 30px;
}
/* END RESERVATION */

/* REVIEWS */
.thoughts {
    display: flex;
    font-family: pomp;
    justify-content: center;
    font-size: 30px;
    padding: 1rem;
    padding-bottom: 0;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 1.5rem;
    margin-top: 0.5rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
    .reviews {
    margin: 1rem;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    }
}

.cards-item {
    display: flex;
    padding: 1rem;
}

.card {
    background-color: $sageop2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid $sage;
}

.card-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .cards-item:nth-child(3) {
        grid-column: span 2;
        justify-content: center;

    }
}

.review-name {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-bottom: 1rem;
    font-family: pomp;
    font-weight: bold;
}

.review-text {
    flex: 1 1 auto;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    font-family: pomp;
    font-size: 2vw;
}

@media screen and (max-width: 600px) {
    .review-text {
        font-size: 3vw;
    }
}

/* END REVIEWS */

        /* END HOME PAGE */

        /* MENU PAGE */

/* MENU TABS */
.menu-tabs {
    font-family: pomp;
    color: $ebony;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 30px 30px;
    padding: 20px;
}

.menu-tabs input[type="radio"] {
    display: none;
}

.menu-tabs label {
    padding: 20px;
    background: $sageop3;
    font-weight: bold;
    border: 1px dotted $ebonyop;
}

.menu-tabs .tab {
    width: 100%;
    padding: 20px;
    background: $sageop2;
    order: 1;
    display: none;
    border: 1px dotted $ebonyop;
}

.menu-tabs .tab h2 {
    font-size: 2rem;
}

.menu-tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.menu-tabs input[type="radio"]:checked + label {
    text-decoration: underline 2px $orange;
    background-color: $sage;
}
/* END MENU TABS */

/* MENU CARDS */
.tab {
    display: flex;
}

.menu-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    height: 300px;
}

.menu-card img {
    object-fit: cover;
    overflow: hidden;
}

.menu-card p {
    padding-top: 10px;
    font-weight: bold;
    font-size: 30px;
    
}


        /* END MENU PAGE */

        /* CONTACT PAGE */

/* BODY */
.contactbody {
    margin: 3rem 5rem 3rem 5rem;
    padding: 1rem;
    outline: dotted 2px $sage;
}

/* CONTACT INFO */
.phone, .address, .hours, .email {
    display: block;
    font-family: pomp;
    font-size: 3vw;
    padding: 0.3rem;
    text-align: center;
    margin-bottom: 1rem;

    .phonetitle, .addresstitle, .hourstitle, .emailtitle {
        font-size: 4vw;
        text-decoration: underline $orange;
    }
}

.intro {
    display: block;
    font-family: pomp;
    font-size: 5vw;
    padding: 2rem;
    text-align: center;
}

.intro h3 {
    margin-top: 2rem;
}
/* END CONTACT INFO */

        /* END CONTACT PAGE */

/* FOOTER */
footer {
    font-family: pomp;
    text-align: center;
    background-color: $sage;
    padding: 1rem;
    color: $ebony;
}
/* END FOOTER */



